.Title {
    color: rgb(210, 57, 30);
    border: 2px solid;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    


}

.crepes {
    color: brown;
    font-weight: 900;
    text-align: center;
    
}

.used {
    color: green;
}

.list {
    border: 2px solid;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding: auto;
    list-style-type: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    
   
}

.liColor {
    color: brown;
}

.liColor2 {
    color: rgb(100, 72, 1);
}

.liColor3 {
    color: darkblue;
}

.liColor4 {
    color: forestgreen;
}




.image {
    text-align: center;
}

.pics {
display: flex;
gap: 15px;


}

.epic {
    width: 100%;
}

.epicText {
    margin-left: 220px;
    margin-top: -17px;

    
}

.dio {
    width: 100%;
    margin-left: 900px;
}
.title {
    text-align: center;
    color: forestgreen;
}

.relativism {
    text-align: center;
    color: darkgoldenrod;
}

.nag {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nagWord {
    text-align: center;
    
}

.vasu {
    text-align: center;
}

.pyr {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skep {
    color: darkblue;
    text-align: center;
}

.pyrText {
    text-align: center;
}

.idealColor {
    background-color: rgb(224, 224, 224);
}

.mainColor {
    background-color: rgb(189, 153, 88);
    
}

.relColor {
    background-color: burlywood;
}

.skepColor {
    background-color: olivedrab;
}

.comColor {
    background-color: darkkhaki;
}

.odinImage {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}